@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

html {
  font-size: 10px;
}

body {
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -1000px -350px;
  background-color: var(--pale-blue);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

#section-container {
  width: 80%;
  max-width: 400px;
  margin: 5rem auto;
  border-radius: 15px;
  background: #fff;
}

/* article {
  width: 80%;
} */

.card-item {
  padding: 2rem 4rem;
  text-align: center;
}
.hero-img {
  background: url(../images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 18vh;
  border-radius: 10px 10px 0 0;
}

header {
  margin-top: 1.5rem;
}

p {
  color: var(--desaturated-blue);
  padding: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.plan {
  font-size: 1.3rem;
  background-color: var(--very-pale-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 10px 15px;
  border-radius: 10px;
}

.package {
  display: flex;
  align-items: center;
}

.package > div {
  margin-right: 20px;
}

.price {
  color: #555;
}
.change:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--dark-blue);
}

.button-group a {
  display: block;
}

.payBtn {
  background-color: var(--bright-blue);
  color: #fff;
  padding: 15px;
  border-radius: 13px;
  margin-bottom: 10px;
  box-shadow: 0px 55px 38px -33px rgba(56, 41, 224, 0.17);
  -webkit-box-shadow: 0px 55px 38px -33px rgba(56, 41, 224, 0.17);
  -moz-box-shadow: 0px 55px 38px -33px rgba(56, 41, 224, 0.17);
}

.payBtn:hover {
  background-color: var(--desaturated-blue);
}

.cancelBtn {
  background-color: transparent;
  color: var(--dark-blue);
  padding: 15px;
  font-weight: 700;
  margin-bottom: 1rem;
  border-radius: 13px;
}

@media screen and (min-width: 500px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: -700px -250px;
    background-size: cover;
    background-color: var(--pale-blue);
  }

  /* #section-container {
    width: 80%;
    max-width: 500px;
  } */

  /* .hero-img {
    height: 30vh;
  } */
}
